.confirmDeleteHeader,
.alertHeader {
  background-color: var(--primary);
  color: var(--light);
}

.confirmDeleteBody,
.alertBody {
  width: 100%;
  text-align: center;
  padding: 2em;
}

.alertBody svg {
  margin-right: 1em;
}

.loadingContainer {
  width: 100%;
  text-align: center;
  padding: 2em;
}

.loadingHeader {
  background-color: var(--primary);
  color: var(--light);
}

.loadingImg {
  display: block;
  margin: 0 auto;
}
